body{
    background-color: #131019;
}

header{
    background-color: #06050b;
    color:#8f6ec7;
    margin: -8px;
    margin-top: -20px;
    margin-right: -20px;
}

.top{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #0f0c1d;
    color: #fff;
    
}

.inf1ft{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
}

.nomes,li{
    display: flex;
    text-align: center;
    margin-right: 3%;
    margin-left: 1%;
    margin-top: -5px;
    margin-bottom: 0.5%;
    letter-spacing: -1px;
}

#logo{
    width: 8%;
    margin-top:1%;
    margin-left:3%;
    margin-bottom:1%;
}

.menu{
    display: flex;
}

.mats{
    display: flex;
    margin-top: 1.5%;
}

#linkheader{
    color:#8f6ec7;
    margin-right: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#linkheader:hover{
    color:#fff;
}

#cat2{
    width: 60px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 43%;
}

#cat{
    width: 60px;
}

.menuinf{
    display: flex;
    text-align: center;
}

.space{
    height: 10px;
}

.homer{
    display: flex;
    height: 100%;
}

.txthome{
    margin-left: 50px;
    float: left;
    width: 200%;
}

#hometext{
    font-family: Arial, Helvetica, sans-serif;
    color: #8f6ec7;
    font-weight:bolder;
    font-size: 50px;
    letter-spacing: -2px;
}

.resumohome{
    float: right;
    margin-left:10%;
    margin-right: 2%;
    width: 200%;
    color: #fff;
    padding-top: 2%;
    font-size: 15px;
}

#txtresumohome{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#infohome{
    color:#fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 80px;
}

hr{
    color:#c0c0c0;
    width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.materias{
    background-color: #352552;
    margin: -8px;
    padding: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#int{
    text-align: center;
    letter-spacing: 5px;
}

#mainmat{
    font-size: 25px;
}

.dichome{
    border-radius: 10px;
    border-color: #8f6ec7;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #0f0c1d;
}

#link_home{
    color:#fff;
    background-color: #06050b;
    text-decoration: none;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

#link_home:hover{
    background-color: #8f6ec7;
}

#mulherhome{
    color: #fff;
    text-decoration: none;
    font-size:20px;
    margin-top: 8px;
}

#mulherhome:hover{
    font-weight: bold;
    background-color: #0f0c1d;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.materias{
    background-color: #06050b;
}

.footer{
    color: #c0c0c0;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    display: flex;
}

.infofootername{
    margin-left: 3%;
    margin-top: 20px;
}

.infofoot{
    margin-top: 20px;
}

#nomefoot{
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.infofootprof{
    margin-top: 20px;
}

#infodici{
    font-size: medium;
    font-weight: normal;
    margin-bottom: 20px;
}

#link_home1{
    margin-left: 20px;
    color:#fff;
    background-color: #06050b;
    text-decoration: none;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

#link_home1:hover{
    background-color: #8f6ec7;
}

.formjavasection{
    background-color: #06050b;
    text-align: center;
}

#catjs{
    width: 300px;
    margin-bottom: -160px;
    margin-left:40%;
    margin-top: -100px;
}

.formjava{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10%;

}

input{
    margin-top: -10px;
    margin-bottom: 30px;
}

select{
    margin-top: -10px;
    margin-bottom: 50px;
    background-color: #131019;
    color:#8f6ec7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-style: double;
    border-color: #0f0c1d;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

option{
    font-size: 15px;
    font-weight: bold;
}

option:hover{
    background-color: #8f6ec7;
    color:#fff;
}

textarea{
    resize: none;
}

#inputnum{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#inputtext{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: large;
    width: 540px;
}

#opcradio{
    font-size: large;
    padding-left: 50px;
}

#botaoform{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0f0c1d;
    color:#fff;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
}

#botaoform:hover{
    background-color:#8f6ec7;
}

textarea{
    padding: 10px;
    border-radius: 20px;
    border-color:#8f6ec7;
    background-color: #0f0c1d;
    color:#fff;
    font-weight: bold;
}

#txtfocusform{
    font-family: Arial, Helvetica, sans-serif;
    color:#8f6ec7;
    margin-top: -15px;
    font-size:50px;
    text-decoration: underline;
}

#botaored{
    padding: 20px;
    margin-left: 120px;
    margin-top: -40px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0f0c1d;
    color:#fff;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
}

#botaored:hover{
    background-color:#8f6ec7;
}

#hrform{
    margin-top: 10px;
    margin-bottom: 10px;
}

.matrix{
    background-image: url(morfeu.png);
    padding-top: 300px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}

.morfeus{
    padding-left: 350px;
}

#botaoformdsa{
    padding: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0f0c1d;
    color:#fff;
    border-radius: 30px;
    border-style: solid;
    border-color:#8f6ec7;
    font-size: 15px;
    margin-right: 120px;
}

#botaoformdsa:hover{
    background-color:#8f6ec7;
}