body{
    background-color: #131019;
}

header{
    background-color: #06050b;
    color:#8f6ec7;
    margin: -8px;
    margin-top: -20px;
    margin-right: -20px;
}

.top{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #0f0c1d;
    color: #fff;
}

.inf1ft{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
}

.nomes,li{
    display: flex;
    text-align: center;
    margin-right: 3%;
    margin-left: 1%;
    margin-top: -5px;
    margin-bottom: 0.5%;
    letter-spacing: -1px;
}

#fotoheader{
    width:5%;
    border-radius:100%;
    margin-left:-3%;
    margin-top:-10px;
}

#logo{
    width: 8%;
    margin-top:1%;
    margin-left:3%;
    margin-bottom:1%;
}

.menu{
    display: flex;
}

.mats{
    display: flex;
    margin-top: 1.5%;
}

#linkheader{
    color:#8f6ec7;
    margin-right: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#linkheader:hover{
    color:#fff;
}

#cat2{
    width: 60px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 43%;
}

#cat{
    width: 60px;
}

.menuinf{
    display: flex;
    text-align: center;
}

.space{
    height: 10px;
}

.homer{
    display: flex;
    height: 100%;
}

.txthome{
    margin-left: 50px;
    float: left;
    width: 200%;
}

#hometext{
    font-family: Arial, Helvetica, sans-serif;
    color: #8f6ec7;
    font-weight:bolder;
    font-size: 50px;
    letter-spacing: -2px;
}

.resumohome{
    float: right;
    margin-left:10%;
    margin-right: 2%;
    width: 200%;
    color: #fff;
    padding-top: 2%;
    font-size: 15px;
}

#txtresumohome{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#infohome{
    color:#fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 80px;
}

hr{
    color:#c0c0c0;
    width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.materias{
    background-color: #352552;
    margin: -8px;
    padding: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#int{
    text-align: center;
    letter-spacing: 5px;
}

#mainmat{
    font-size: 25px;
}

.dichome{
    border-radius: 10px;
    border-color: #8f6ec7;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right:100px;
    padding-bottom: 20px;
    background-color: #0f0c1d;
}

#link_home{
    color:#fff;
    background-color: #06050b;
    text-decoration: none;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

#link_home:hover{
    background-color: #8f6ec7;
}

#mulherhome{
    color: #fff;
    text-decoration: none;
    font-size:20px;
    margin-top: 8px;
}

#mulherhome:hover{
    font-weight: bold;
    background-color: #0f0c1d;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.materias{
    background-color: #06050b;
}

.footer{
    color: #c0c0c0;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    display: flex;
}

.infofootername{
    margin-left: 3%;
    margin-top: 20px;
}

.infofoot{
    margin-top: 20px;
}

#nomefoot{
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.infofootprof{
    margin-top: 20px;
}

#infodici{
    font-size: medium;
    font-weight: normal;
    margin-bottom: 20px;
}

#link_home1{
    margin-left: 20px;
    color:#fff;
    background-color: #06050b;
    text-decoration: none;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

#link_home1:hover{
    background-color: #8f6ec7;
}

.formjavasection{
    background-color: #06050b;
    text-align: center;
}

#catjs{
    width: 300px;
    margin-bottom: -160px;
    margin-left:40%;
    margin-top: -100px;
}

.formjava{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10%;
}

input{
    margin-top: -10px;
    margin-bottom: 30px;
}

select{
    margin-top: -10px;
    margin-bottom: 50px;
    background-color: #131019;
    color:#8f6ec7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-style: double;
    border-color: #0f0c1d;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

option{
    font-size: 15px;
    font-weight: bold;
}

option:hover{
    background-color: #8f6ec7;
    color:#fff;
}

textarea{
    resize: none;
}

#inputnum{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#inputtext{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: large;
    width: 540px;
}

#opcradio{
    font-size: large;
    padding-left: 50px;
}

#botaoform{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0f0c1d;
    color:#fff;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
}

#botaoform:hover{
    background-color:#8f6ec7;
}

textarea{
    padding: 10px;
    border-radius: 20px;
    border-color:#8f6ec7;
    background-color: #0f0c1d;
    color:#fff;
    font-weight: bold;
}

#txtfocusform{
    font-family: Arial, Helvetica, sans-serif;
    color:#8f6ec7;
    margin-top: -15px;
    font-size:50px;
    text-decoration: underline;
}

#botaored{
    padding: 20px;
    margin-left: 120px;
    margin-top: -40px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0f0c1d;
    color:#fff;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
}

#botaored:hover{
    background-color:#8f6ec7;
}

#hrform{
    margin-top: 10px;
    margin-bottom: 10px;
}

.matrix{
    background-image: url(morfeu.png);
    padding-top: 300px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}

.morfeus{
    padding-left: 350px;
    margin-top: -100px;
}

#botaoformdsa{
    padding: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0f0c1d;
    color:#fff;
    border-radius: 30px;
    border-style: solid;
    border-color:#8f6ec7;
    font-size: 15px;
    margin-right: 120px;
}

#botaoformdsa:hover{
    background-color:#8f6ec7;
}

fieldset{
    border-style: none;
}


/*WELLINGTON-FUTI*/
.mbfuti{
    text-align: center;
    font-size: 230%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
#imgmb1{
    width: 600px; height: 500px;
    border-style: solid;
    border-radius: 1px;
    border-color: #8f6ec7;
    text-align: center;
}
.txtfuti{
    color: #ffffff;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.iniciofrasefuti{
    color: #fff;
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}
.listafuti{
    color:#fff;
    margin-top: 100px;
    list-style-type: circle;
}


#mainfuti{
        color: #8f6ec7;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
}
.divfuti{
    text-align: left;
    font-size: 180%;
    position: absolute;
    display: inline-block;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 100px;
}

.imgmb1{
  width: 600px;
}

#listamb{
    text-align: left;
}
#listamb1{
    font-size: 110%;
    text-decoration: underline;
    color: #8f6ec7;
}
#mbfr{
    text-align: center;
    color: #8f6ec7;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}
#mbfr1{
    text-align: center;
    color: #8f6ec7;
    font-family: Arial, Helvetica, sans-serif;
}
.divfuti2{
    text-align: left;
    font-size: 180%;
    position: absolute;
    display: inline-block;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 700px;
}
.GPU{
    border-radius: 10px;
    border-color: #8f6ec7;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #0f0c1d;
}
.divfuti3{
    text-align: left;
    font-size: 180%;
    position: absolute;
    display: inline-block;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 1450px;
}
.divfuti4{
    text-align: left;
    font-size: 180%;
    position: absolute;
    display: inline-block;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 2100px;
}

/*GUSTAVO-LOGB*/
/*inicio do css ada*/
.sobre {
    width: 960px;
    margin: auto;
}

#nome {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

.cont-ada {
    display: table;
}

.txt-ada {
    display: table-cell;
    color: #fff;
    font-size: 25px;
    float: left;
    width: 400px;
    margin-left: 20%;
}

.img-ada {
    display: table;
    float: right;
    margin-left: 300px;
    margin-top: -250px;
    border: solid 2px #c0c0c0;
    background-color: #0f0c1d;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 630px;
}

#ft-ada{
    border:  solid 5px#c0c0c0;
    border-radius: 20px;
}

#info-res {
    color: #fff;
}

.cate-indice {
    color: #fff;
    margin-left: 20%;
    margin-top: -400px;
    text-align: center;
    width: 200px;
    height: 330px;
    border: solid 3px #c0c0c0;
    padding: 17px;
    display: grid;
}

#ind {
    color:#8f6ec7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#ind:hover {
    color: #fff;
}

#hist {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-hist {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#ft-maqui {
    border:  solid 5px#c0c0c0;
    border-radius: 20px;
}

#vida-pessoal {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-pessoal {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#formaçao{
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-forma {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#ppc {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-ppc {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}
/*inicio do css anna*/



#nome {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

.cont-anna {
    display: table;
}

.txt-anna {
    display: table-cell;
    color: #fff;
    font-size: 25px;
    float: left;
    width: 400px;
    margin-left: 20%;
}

.img-anna {
    display: table;
    float: right;
    margin-left: 300px;
    margin-top: -250px;
    border: solid 3px #c0c0c0;
    width: 400px;
    height: 630px;
}

#ft-anna{
    border:  solid 5px#c0c0c0;
    border-radius: 20px;
}

#info-res {
    color: #fff;
}

.cate-indice {
    margin-left: 20%;
    margin-top: -400px;
    text-align: center;
    width: 200px;
    height: 330px;
    border: solid 3px #c0c0c0;
    padding: 17px;
    display: grid;
}

#ind {
    color:#8f6ec7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#ind:hover {
    color: #fff;
}

#hist {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-hist {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#vida-pessoal {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-pessoal {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#descoberta{
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-desco {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#foto {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-foto {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#fts-anna {
    border-radius: 50px;
}

/*inicio do css da Mary Allen Wilkes*/

#nome {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

.cont-mary {
    display: table;
}

.txt-mary {
    display: table-cell;
    color: #fff;
    font-size: 25px;
    float: left;
    width: 400px;
    margin-left: 20%;
}

.img-mary {
    display: table;
    float: right;
    margin-left: 300px;
    margin-top: -250px;
    border: solid 3px #c0c0c0;
    width: 400px;
    height: 630px;
}

#ft-mary{
    border:  solid 5px#c0c0c0;
    border-radius: 20px;
}

#info-res {
    color: #fff;
}

.cate-indice {
    margin-left: 20%;
    margin-top: -400px;
    text-align: center;
    width: 200px;
    height: 330px;
    border: solid 3px #c0c0c0;
    padding: 17px;
    display: grid;
}

#ind {
    color:#8f6ec7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#ind:hover {
    color: #fff;
}

#hist {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-hist {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#vida-pessoal {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-pessoal {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#descoberta{
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-desco {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#contri {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-contri {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#fts-mary {
    border-radius: 50px;
}

/*inicio do css da hypatia de alexandria */

#nome {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

.cont-hy {
    display: table;
}

.txt-hy {
    display: table-cell;
    color: #fff;
    font-size: 25px;
    float: left;
    width: 400px;
    margin-left: 20%;
}

.img-hy {
    display: table;
    float: right;
    margin-left: 300px;
    margin-top: -250px;
    border: solid 3px #c0c0c0;
    width: 400px;
    height: 630px;
}

#ft-hy{
    border:  solid 5px#c0c0c0;
    border-radius: 20px;
}

#info-res {
    color: #fff;
}

.cate-indice {
    margin-left: 20%;
    margin-top: -400px;
    text-align: center;
    width: 200px;
    height: 330px;
    border: solid 3px #c0c0c0;
    padding: 17px;
    display: grid;
}

#ind {
    color:#8f6ec7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#ind:hover {
    color: #fff;
}

#hist {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-hist {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#formaçao{
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-formaçao {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#legado {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-lega {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

/* INICIO DO CSS DA Hedy Lamarr Elizabeth"jake" */

#nome {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

.cont-he {
    display: table;
}

.txt-he {
    display: table-cell;
    color: #fff;
    font-size: 25px;
    float: left;
    width: 400px;
    margin-left: 20%;
}

.img-he {
    display: table;
    float: right;
    margin-left: 300px;
    margin-top: -250px;
    border: solid 3px #c0c0c0;
    width: 400px;
    height: 630px;
}

#ft-he{
    border:  solid 5px#c0c0c0;
    border-radius: 20px;
}

#info-res {
    color: #fff;
}

.cate-indice {
    margin-left: 20%;
    margin-top: -400px;
    text-align: center;
    width: 200px;
    height: 330px;
    border: solid 3px #c0c0c0;
    padding: 17px;
    display: grid;
}

#ind {
    color:#8f6ec7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#ind:hover {
    color: #fff;
}

#hist {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-hist {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#descoberta{
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-desco {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

#foto {
    color: #fff;
    font-size: 50px;
    margin-left:20%;
}

#txt-foto {
    color: #fff;
    font-size: 25px;
    width: 550px;
    margin-left: 12%;
}

.footer{
    color: #c0c0c0;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    display: flex;
}

.infofootername{
    margin-left: 3%;
    margin-top: 20px;
}

.infofoot{
    margin-top: 20px;
}

#nomefoot{
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.infofootprof{
    margin-top: 20px;
}

.corpo{
    font-family: Arial, Helvetica, sans-serif;
}

.linkslogbpagina{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: -60px;
    margin-bottom: 30px;
    background-color: #0f0c1d;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-style: solid;
    border-color:#8f6ec7;
    border-width: 1px;
    border-radius: 10px;
}

#mulhereshistoricastxt{
    text-align: center;
}

/*IZABELLA-EMPR*/
.emprimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(UniverseCapa.jfif);
    background-position: center;
    text-align: center;
    background-size: cover;
    height: 200px;
    color: #fff;
    padding: 200px 15px;
    margin-left:-8px;
    margin-right: cover;
    justify-content:space-around
  }
    #img2{
      align-items: center;
      justify-content:space-around;
    }
    #emprfrase1{
        font-size: 300%;
        font-family: "Roboto";
        color: #fff;
        text-align: center;
        font-weight: 700;
    }
    
    #emprfrase2{
        font-size: 200%;
        font-family: "Courier New";
        color: #fff;
        text-align: center;
    }

    .divmis{
      color:#fff;
      padding-left: 100px;
      padding-right: 100px;
    }
    #emprfrase3{
      font-size: 40px;
      text-align: center;
      font-family: "Roboto";
    }

    #emprfrase4{
      font-size: 20px;
      text-align: center, justify;
      font-family: "Courier New";
    }

    .divprod{
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(emprimg31.jfif);
    background-position: center;
    background-size: cover;
    height: 200px;
    color: #fff;
    padding: 100px 10px;
    margin-left:-8px;
    margin-right: cover;
    justify-content:space-around
    }
    #emprfrase5{
      font-size: 250%;
      font-family: "Roboto";
      color: #fff;
      text-align: center;
      font-weight: 700;
  }
  #emprfrase6{
    font-size: 150%;
    font-family: "Courier New";
    color: #fff;
    text-align: center;
  }
  .divval{
    color: #fff;
    padding-left:100px;
    padding-right:100px;
  }
  #emprfrase7{
    font-size: 250%;
    font-family: "Courier New";
    color: #fff;
    text-align: center;
    font-weight: 500;
  }
  #emprfrase8{
    font-size: 100%;
      font-family: "Courier New";
      color: #fff;
      text-align: center;
      font-weight: 500;
  }
  #emprfrase9{
    font-size: 250%;
    font-family: "Courier New";
    color: #fff;
    text-align: center;
    font-weight: 500;
  }

  .sabm{
    text-align: center;
  }
  #botao{
    background: #8f6ec7; 
    color: #06050b; border:  2px solid #06050b;transition: 200ms;
    width: 1000px;
    height: 45px;
  }
  .footerd{
    font-size: 100%;
    text-align: center;
    align-items: center;
  }
  #emprfrase10{
    font-size: 150%;
      font-family: "Courier New";
      color: #fff;
      background-color: #352552;
      text-align: center;
      font-weight: 600;
  }
  #emprfrase10b{
    font-size: 150%;
      font-family: "Courier New";
      color: #fff;
      background-color: #131019;
      text-align: center;
      font-weight: 00;
  }

    /*Parte: Izabella - ESTRUTURA E MODELAGEM DE DADOS */
    .esmdimg{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(UniverseCapa.jfif);
        background-position: center;
        background-size: cover;
        text-align:center;
        height: 200px;
        color: #fff;
        padding: 200px 15px;
        margin-left:-8px;
        margin-right: cover;
        justify-content:space-around;
      }
        #img2{
            text-align:center;
          align-items: center;
          justify-content:space-around;
        }
        #esmdfrase1{
            font-size: 300%;
            font-family: "Roboto";
            color: #fff;
            text-align: center;
            font-weight: 700;
        }
        
        #esmdfrase2{
            font-size: 200%;
            font-family: "Courier New";
            color: #fff;
            text-align: center;
        }
    
        .divmis{
          color:#fff;
        }
        #esmdfrase3{
          font-size: 40px;
          text-align: center;
          font-family: "Roboto";
        }
    
        #esmdfrase4{
          font-size: 20px;
          text-align: center;
          font-family: "Courier New";
        }
      .divcard{
        color: #fff;
        padding-left:100px;
        padding-right:100px;
      }
      
      #esmdfrase7{
        font-size: 250%;
        font-family: "Courier New";
        color: #fff;
        text-align: center;
        font-weight: 500;
      }
      #esmdfrase8{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
    
      /* Grupo 1 */
      .grupo1{
        color: #fff;
        padding-left:100px;
        padding-right:100px;
      }
      #esmdfrase9{
        font-size: 250%;
        font-family: "Courier New";
        color: #fff;
        text-align: center;
        font-weight: 500;
      }
      #esmdfrase9b{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
      #lista{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
      /* Grupo 2 */
      .grupo2{
        color: #fff;
        padding-left:100px;
        padding-right:100px;
      }
      #esmdfrase10{
        font-size: 250%;
        font-family: "Courier New";
        color: #fff;
        text-align: center;
        font-weight: 500;
      }
      #esmdfrase10b{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
      #lista2{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
      /* Grupo 3*/
      .grupo3{
        color: #fff;
        padding-left:100px;
        padding-right:100px;
      }
      #esmdfrase11{
        font-size: 250%;
        font-family: "Courier New";
        color: #fff;
        text-align: center;
        font-weight: 500;
      }
      #esmdfrase11b{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
      #lista3{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
      /* Atributo Composto */
      .composto{
        color: #fff;
        padding-left:100px;
        padding-right:100px;
      }
      #esmdfrase12{
        font-size: 250%;
        font-family: "Courier New";
        color: #fff;
        text-align: center;
        font-weight: 500;
      }
      #esmdfrase12b{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
       /* Atributo Multivalorado */
       .multivalorado{
        color: #fff;
        padding-left:100px;
        padding-right:100px;
      }
      #esmdfrase13{
        font-size: 250%;
        font-family: "Courier New";
        color: #fff;
        text-align: center;
        font-weight: 500;
      }
      #esmdfrase13b{
        font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
      }
    /* PK & FK */
    .keys{
      color: #fff;
      padding-left:100px;
      padding-right:100px;
    }
    #esmdfrase14{
      font-size: 250%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
    }
    #esmdfrase14b{
      font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
    }
    #lista4{
      font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
    }
    #esmdfrase15{
      font-size: 250%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
    }
    #esmdfrase15b{
      font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
    }
    #esmdfrase15c{
      font-size: 100%;
          font-family: "Courier New";
          color: #fff;
          text-align: center;
          font-weight: 500;
    }
    /* DER */
    .der{
      color:#fff;
      padding-left:100px;
      padding-right:100px;
    }
    #esmdfrase16{
      font-size: 40px;
      text-align: center;
      font-family: "Roboto";
    }
    
    #esmdfrase16b{
      font-size: 20px;
      text-align: center;
      font-family: "Courier New";
    }
    
    